
body {
  background-color: lightgrey;
}

h1 {
  color: red;
  text-align: center;
  margin-top: 80px;  
}

h2 {
  color: black;
  text-align: center;
  margin: 20 auto;  
}

h3 {
  color: black;
  text-align: center;
}

p {
	text-align: justify;
	margin: 10px;
}

img {
	max-height: 300px;
	max-width: 100%;
    display: block;
    margin: 0 auto;
	align-items: center;
}

video {
	max-height: 240px;
	max-width: 100%;
    display: block;
    margin: 0 auto;
	align-items: center;
	border-style: none;
}

audio {
	max-height: 300px;
	max-width: 100%;
    display: block;
    margin: 0 auto;
	align-items: center;
	border-style: none;
}

#youtube {
	height: 100%;
	width: 100%;
	max-height: 240px;
	max-width: 100%;
    display: block;
    margin: 0 auto;
	align-items: center;
	border-style: none;
}

small {
	margin: 10px;
}

.container {
  display: grid;  
  align-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 40px;  
  padding: 20px;  
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.item {
	display: grid;
	align-items: center;
	margin: 5px;	
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.navbar { 
	position: fixed;
	top: 0;
    width: 100%;	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color: #111;
}

.rodape {
	text-align: center;
}

.contato {
	display: display;
	width: 800px;
	height: 900px;	
	align-items: center;
	text-align: center;
	margin-left: 300px;
	margin-top: 40px;  
    padding: 20px;  
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#contato {
	height: 92%;
	width: 100%;	
    display: block;
    margin: 0 auto;
	align-items: center;
	border-style: none;
}

#linkedin {
	height: 120px;
	width: 120px;	
    display: block;
	align-items: left;
}

.sobre {
  display: block;    
  margin-top: 40px;  
  padding: 20px;  
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.tituloreferencias {
	text-align: left;
}

.referencias {
  display: grid;
  margin-top: 40px;  
  padding: 20px;  
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.2);
  align-items: left;
}
